        table {
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
        }
        
        .editable {
            background-color: #f1f1f1;
        }
